footer>div{
    margin: 0 10px;
    width: 100px;
    height: 50px;
    border: solid 2px #000;
    position: relative;
}
footer div button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgb(0,0,0,0.5);
}
#cancel{
    display: none;
}
#go{
    display: none;
}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 0 auto;
    font-size: 20px;
}