nav ul li{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 35px;
    list-style: none;
}
nav ul li:hover div{
    border-left:2px solid rgb(20, 200, 212) !important;
    border-right:2px solid rgb(20, 200, 212) !important;
}
nav ul li div{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 35px;
    background: rgb(0,0,0,0.5);
    border-left:2px solid blue;
    border-right:2px solid blue;
}
#Red ul li div{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 35px;
    background: rgb(0,0,0,0.5);
    border-left:2px solid red;
    border-right:2px solid red;
}
nav ul li .left{
    transform: rotate(60deg);
}
nav ul li .right{
    transform: rotate(-60deg);
}
nav ul{
    display: flex;
}
nav ul li img{
    position: absolute;
    margin-top: -10px;
}