<div id="frame" [ngClass]="[status]" (mousemove)="mousemove($event)" (mouseup)="mouseup()">
    <div id="log" [ngStyle]="{'top':top+'px','left':left+'px'}">
        <div id="button" (mousedown)="mousedown($event)">
        </div>
        <div id="title">
            <img src="{{heroName|heroNameToSrc}}" alt="">
            <div class="flex">
                <div id="HP" class="bar" [ngStyle]="{'width':HP/maxHP*135+'px'}"><span>{{HP}}/{{maxHP}}</span></div>
                <div id="MP" class="bar" [ngStyle]="{'width':MP/maxMP*135+'px'}"><span>{{MP}}/{{maxMP}}</span></div>
            </div>
        </div>
        <div id="cont" #scroll>
            <p *ngFor="let item of log">{{item}}</p>
        </div>
    </div>
</div>