#log{
    background: #efefef;
    height: 300px;
    width: 250px;
    box-shadow: 0 0 5px 0px rgb(0,0,0,0.5);
    #drag{
        position: absolute;
        height: 20px;
        width: 250px;
        left: 0;
        top: 0;
        text-align: center;
    }
    #title{
        margin: 0 auto;
        margin-top: 10%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        .bar{
            position: relative;
            height: 15px;
            font-size: 11px;
            span{
                margin-left: 4px;
            }
        }
        #HP{
            background: rgb(255,0,0,0.5);
        }
        #HP::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 135px;
            height: 15px;
            border: 2px solid #000;
            box-sizing: border-box;
        }
        #MP{
            background: rgb(0,0,255,0.5);
        }
        #MP::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 135px;
            height: 15px;
            border: 2px solid #000;
            box-sizing: border-box;
        }
        .flex{
            width: 60%;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    #button{
        width: 40px;
        height: 20px;
        background: #efefef;
        box-shadow: 0 0 5px 0px rgb(0,0,0,0.3);
        position: absolute;
        left: 50%;
        top: 73px;
        transform: translate(-50%,0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        cursor:pointer;
        z-index: 1;
    }
    #cont{
        width: 90%;
        height: 70%;
        background: #fff;
        margin: 0 auto;
        margin-top: 10px;
        box-shadow: 0 0 5px 0px rgb(0,0,0,0.3) inset;
        padding: 0 10px;
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        p{
            margin-top: 10px;
        }
    }
    #cont::-webkit-scrollbar{
        display: none;
    }
}
.moving{
    position: fixed;
    z-index: 3;
    height: 820px;
    width: 1200px;
    top: 0;
    left: 0;
    #log{
        position: absolute;
    }
}
.static{
    #log{
        position: fixed;
        z-index: 3;
    }
}