#selectHeroFrame{
    height: 800px;
    width: 1200px;
    background: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        width: 180px;
        height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        margin: 0,auto;
    }
    ul::-webkit-scrollbar{
        display: none;
    }
    div{
        position: relative;
        height: 200px;
        width: 2px;
        background-image: linear-gradient( to top, rgb(255,255,255,0), rgb(255,255,255,0.8), rgb(255,255,255,0.8), rgb(255,255,255,0));
        left: -5px;
    }
}