#square{
    width: 81px;
    height: 47.25px;
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f1;
    h1{
        position: relative;
        top: -6px;
        z-index: 1;
        color: #cad1d7;
        font-weight: 300;
        font-size: 80px;
    }
    img{
        position: absolute;
        z-index: 1;
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    div{
        position: absolute;
        z-index: 1;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotate360 2s linear infinite;
    }
}
.pointer{
    cursor:pointer;
}
.textnone{
    h1{
        display: none;
    }
}
.textblock{
    h1{
        display: block;
    }
}
#square::before,#square::after{
    content: '';
    width: 81px;
    height: 47.25px;
    position: absolute;
    box-sizing: content-box;
    background: #ecf0f1;
    border-left: 1px solid;
    border-right: 1px solid;
}
#square::before{
    transform: rotate(60deg);
}
#square::after{
    transform: rotate(-60deg);
}
.blue,.blue::after,.blue::before{
    border-color: #317bd5 !important;
}
.red,.red::after,.red::before{
    border-color: #cd394b !important;
}
.red:hover,.red:hover::after,.red:hover::before,.blue:hover,.blue:hover::after,.blue:hover::before{
    border-color: #5dbfd8 !important;
}
.borderLight,.borderLight::before,.borderLight::after{
    border-color: #5dbfd8 !important;
}
.levelOne div{
    background: linear-gradient(0deg, #ecf0f1, rgb(0, 107, 126));
}
.levelTwo div{
    background: linear-gradient(0deg, #ecf0f1, rgb(124, 4, 139));
}
.levelThree div{
    background: linear-gradient(0deg, #ecf0f1, rgb(255, 102, 0));
}