div{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 80px;
    background: #e6e6e6;
}
img{
    position: absolute;
    top: 0;
    left: 0;
}