div{
    height: 50px;
    width: 50px;
    border: 1px solid #317bd5;
    background: #317bd5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    box-sizing: content-box;
    /* transition: background-color 0.5s,border-color 0.5s; */
}
div:hover{
    background: #438eeb !important;
    border-color: #438eeb !important;
}
div::before{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    border: 5px solid #d7d7d7;
    border-radius: 100%;
}
div::after{
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    border: 4px solid #d7d7d7;
    border-radius: 100%;
}