<div id="heroManagerFrame" [ngClass]="heroManagerAct">
    <div id="title">
        <i>
            <h1 class="number"><span style="color: #317bd5;">10</span>/<span style="color: #317bd5;">{{blueNum}}</span>
            </h1>
        </i>
        <div></div>
        <h1 id="titleFont">Manager</h1>
        <div></div>
        <i>
            <h1 class="number"><span style="color: #cd394b;">10</span>/<span style="color: #cd394b;">{{redNum}}</span>
            </h1>
        </i>
    </div>
    <div id="board">
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="0" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="1" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="2" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="3" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="4" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="5" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="6" [that]=this></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="7" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="8" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="9" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="10" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="11" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="12" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="13" [that]=this></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="14" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="15" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="16" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="17" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="18" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="19" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="20" [that]=this></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="21" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="22" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="23" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="24" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="25" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="26" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" [heroSquareId]="27" [that]=this></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="28" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="29" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="30" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="31" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="32" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="33" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="34" [that]=this></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="35" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="36" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="37" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="38" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="39" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="40" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="41" [that]=this></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="42" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="43" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="44" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="45" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="46" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="47" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="48" [that]=this></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed" draggable="true" [heroSquareId]="49" [that]=this>
            </app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="50" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="51" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="52" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="53" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="54" [that]=this></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" [heroSquareId]="55" [that]=this></app-hero-square>
        </ul>
    </div>
    <div class="buttons" id="buttons1">
        <app-icon-to-button [icon]="buttons[0]"></app-icon-to-button>
        <app-icon-to-button [icon]="buttons[1]" (click)="reset()"></app-icon-to-button>
    </div>
    <div class="buttons" id="buttons2">
        <app-icon-to-button [icon]="buttons[2]"></app-icon-to-button>
        <app-icon-to-button [icon]="buttons[3]"></app-icon-to-button>
        <app-icon-to-button [icon]="buttons[4]"></app-icon-to-button>
    </div>
</div>