#heroManagerFrame{
    width: 1200px;
    height: 800px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    #title{
        margin-top: 20px;
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #f7f5f3;
        border-bottom: 2px solid #e4e4e4;
        box-shadow: 0px 0px 10px 2px #eaf4f6;
        background: rgb(215,215,215);
        .number{
            width: 89px;
        }
        h1{
            font-weight: normal;
            position: relative;
        }
        div{
            width: 50px;
            height: 2px;
            background: #5dbfd8;
            position: relative;
        }
        i+div{
            animation: leftAct 2s infinite linear;
        }
        h1+div{
            animation: rightAct 2s infinite linear;
        }
        @keyframes leftAct {
            0%{
                left: 90px;
            }
            45%{
                left: 120px;
            }
            100%{
                left: 90px;
            }
        }
        @keyframes rightAct {
            0%{
                right: 90px;
            }
            45%{
                right: 120px;
            }
            100%{
                right: 90px;
            }
        }
    }
    #title::before, #title::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: #e4e4e4;
        transform: rotate(45deg);
        top: 11px;
    }
    #title::after{
        top: 90px;
    }
    #board{
        background: rgb(198,198,198);
        margin-top: 20px;
        width: 55%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: content-box;
        padding: 10px;
        padding-right: 57px;
        box-shadow: 0px 0px 10px 5px #eaf4f6;
        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
    #menuButtons1{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        top: 50%;
    }
    #menuButtons2{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        bottom: 0;
    }
}
.heroManagerAct{
    #title{
        animation: heroManagerAct1 0.5s;
        *{
            animation: heroManagerAct2 1s;
        }
    }
    #board{
        animation: heroManagerAct3 0.5s;
        *{
            animation: heroManagerAct2 1s;
        }
    }
    @keyframes heroManagerAct1 {
        from{
            width: 0;
        }
        to{
            width: 90%;
        }
    }
    @keyframes heroManagerAct2 {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes heroManagerAct3 {
        from{
            width: 0;
        }
        to{
            width: 55%;
        }
    }
}
.buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}
#buttons1{
    top: 50%;
    transform: translate(0,-50%);
}
#buttons2{
    bottom: 0;
}
app-icon-to-button{
    transform: scale(0.5);
}