<div id="heroManagerFrame" [ngStyle]="{'z-index':heroManagerZIndex}">
    <div id="title">
        <i>
            <h1 class="number"><span style="color: #317bd5;">10</span>/<span style="color: #317bd5;">{{heroNum[0]}}</span>
            </h1>
        </i>
        <div></div>
        <h1 id="titleFont">Manager</h1>
        <div></div>
        <i>
            <h1 class="number"><span style="color: #cd394b;">10</span>/<span style="color: #cd394b;">{{heroNum[1]}}</span>
            </h1>
        </i>
    </div>
    <div id="board">
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed" draggable="true"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed"></app-hero-square>
        </ul>
    </div>
</div>


<app-select-hero-ul style="z-index: 4;position: fixed;top: 20px;"></app-select-hero-ul>