#exitFrame{
    position: absolute;
    top: 20px;
    width: 1200px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    #exittip{
        width: 340px;
        transition: width 0.3s;
        transform: rotateY(0deg);
    }
    #title{
        width: 100%;
        height: 70px;
        background: rgb(215,215,215);
        border:2px solid #d7d7d7;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #tips{
        width: 100%;
        background: rgb(198,198,198);
        box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.3) inset;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        transition: height 0.5s,color 0.3s;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #select{
        width: 100%;
        height: 80px;
        background: rgb(215,215,215);
        border:2px solid #d7d7d7;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .come{
        animation: act1-come 0.1s;
    }
    .come #tips{
        animation: act2 0.5s;
    }
    .come span,.come app-ok,.come app-no{
        animation: act3 0.8s;
    }
    .go{
        animation: rota 0.3s;
    }
    @keyframes act1-come{
        from{
            width: 0px;
        }
        to{
            width: 340px;
        }
    }
    @keyframes act3{
        0%{
            opacity: 0;
        }
        65%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes act2{
        0%{
            height: 20px;
        }
        40%{
            height: 20px;
        }
        100%{
            height: 90px;
        }
    }
    @keyframes act1-go{
        from{
            opacity: 1;
            width: 340px;
        }
        to{
            opacity: 0;
            width: 60px;
        }
    }
    @keyframes act3-go{
        0%{
            opacity: 1;
        }
        70%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
    }
    @keyframes rota{
        from{
            transform: perspective(1200px) rotateY(0deg);
        }
        to{
            transform: perspective(1200px) rotateY(90deg);
        }
    }
}

#mainFrame{
    position: absolute;
    top: 20px;
    width: 1200px;
    height: 800px;
    background: #e4e4e4;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1{
        margin-top: 180px;
        font-size: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h4{
        cursor:pointer;
        transition: font-size 0.3s;
    }
    h4:hover{
        font-size: 30px;
    }
    #menu{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }
}

#heroManagerFrame{
    width: 1200px;
    height: 800px;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    #title{
        margin-top: 20px;
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #f7f5f3;
        border-bottom: 2px solid #e4e4e4;
        box-shadow: 0px 0px 10px 2px #eaf4f6;
        background: rgb(215,215,215);
        .number{
            width: 89px;
        }
        h1{
            font-weight: normal;
            position: relative;
        }
        div{
            width: 50px;
            height: 2px;
            background: #5dbfd8;
            position: relative;
        }
        i+div{
            animation: leftAct 2s infinite linear;
        }
        h1+div{
            animation: rightAct 2s infinite linear;
        }
        @keyframes leftAct {
            0%{
                left: 90px;
            }
            45%{
                left: 120px;
            }
            100%{
                left: 90px;
            }
        }
        @keyframes rightAct {
            0%{
                right: 90px;
            }
            45%{
                right: 120px;
            }
            100%{
                right: 90px;
            }
        }
    }
    #board{
        background: rgb(198,198,198);
        margin-top: 20px;
        width: 55%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: content-box;
        padding: 10px;
        padding-right: 57px;
        box-shadow: 0px 0px 10px 5px #eaf4f6;
        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}
.heroManagerAct{
    #title{
        animation: heroManagerAct1 0.5s;
        *{
            animation: heroManagerAct2 1s;
        }
    }
    #board{
        animation: heroManagerAct3 0.5s;
        *{
            animation: heroManagerAct2 1s;
        }
    }
    @keyframes heroManagerAct1 {
        from{
            width: 0;
        }
        to{
            width: 90%;
        }
    }
    @keyframes heroManagerAct2 {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes heroManagerAct3 {
        from{
            width: 0;
        }
        to{
            width: 55%;
        }
    }
}
#heroManagerFrame::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #e4e4e4;
    transform: rotate(45deg);
    top: 11px;
}
#heroManagerFrame::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #e4e4e4;
    transform: rotate(45deg);
    top: 90px;
}

#heroSelectFrame{
    padding: 40px;
    position: fixed;
    z-index: 3;
    bottom: 10px;
    left: 238px;
    width: 727px;
    height: 670px;
    background: rgb(0,0,0,0.5);
    div{
        height: 60%;
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }
    app-hero-head-photo{
        margin-right: 30px;
    }
}