<div style="width: 100%;height: 20px;background: #000;-webkit-app-region: drag;margin: 0; padding: 0;"></div>
<app-tips #tip style="position: fixed; z-index: 4;"></app-tips>
<app-option #option style="position: fixed; z-index: 4;"></app-option>
<div id="exitFrame" [ngStyle]="{'z-index':exitZIndex}">
    <div id="exittip" [ngClass]="exitFrameAct">
        <div id="title">
            <h3>
                Alert
            </h3>
        </div>
        <div id="tips">
            <span>是否确认退出？</span>
        </div>
        <div id="select">
            <app-ok (click)="exitOk()"></app-ok>
            <app-no (click)="exitFrameGone()"></app-no>
        </div>
    </div>
</div>
<div id="mainFrame" [ngStyle]="{'z-index':mainZIndex}">
    <h1>
        <i>CloudTop</i>
    </h1>
    <div id="menu">
        <h4 (click)="start()">
            Start
        </h4>
        <h4 (click)="optionOut()">
            Option
        </h4>
        <h4>
            About
        </h4>
        <h4 (click)="exitFrameOut()">
            Exit
        </h4>
    </div>
</div>
<div id="heroManagerFrame" [ngStyle]="{'z-index':heroManagerZIndex}" [ngClass]="heroManagerAct">
    <div id="title">
        <i>
            <h1 class="number"><span style="color: #317bd5;">10</span>/<span style="color: #317bd5;">{{heroNum[0]}}</span>
            </h1>
        </i>
        <div></div>
        <h1 id="titleFont">Manager</h1>
        <div></div>
        <i>
            <h1 class="number"><span style="color: #cd394b;">10</span>/<span style="color: #cd394b;">{{heroNum[1]}}</span>
            </h1>
        </i>
    </div>
    <div id="board">
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(0)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(1)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(2)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(3)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(4)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(5)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(6)"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(7)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(8)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(9)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(10)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(11)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(12)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(13)"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(14)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(15)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(16)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(17)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(18)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(19)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(20)"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(21)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(22)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(23)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(24)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(25)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(26)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroBlue" (click)="selectHeroSquare(27)"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(28)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(29)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(30)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(31)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(32)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(33)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(34)"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(35)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(36)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(37)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(38)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(39)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(40)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(41)"></app-hero-square>
        </ul>
        <ul>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(42)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(43)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(44)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(45)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(46)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(47)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(48)"></app-hero-square>
        </ul>
        <ul style="position: relative;left: 47px;">
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(49)" draggable="true"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(50)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(51)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(52)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(53)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(54)"></app-hero-square>
            <app-hero-square [heroSquareColor]="heroRed" (click)="selectHeroSquare(55)"></app-hero-square>
        </ul>
    </div>
    <div id="menuButtons1">
        <app-menu-button [menuContent]="menuContent[0]"></app-menu-button>
        <app-menu-button [menuContent]="menuContent[1]"></app-menu-button>
    </div>
    <div id="menuButtons2">
        <app-menu-button [menuContent]="menuContent[2]"></app-menu-button>
        <app-menu-button [menuContent]="menuContent[3]" (click)="menu()"></app-menu-button>
        <app-menu-button [menuContent]="menuContent[4]" (click)="exitFrameOut()"></app-menu-button>
    </div>
</div>
<div id="heroSelectFrame" [ngStyle]="{'display':heroSelectFrameDisplay}">
    <div>
        <app-hero-head-photo [hero]="hero[0]" (click)="selectHero(0)"></app-hero-head-photo>
        <app-hero-head-photo [hero]="hero[1]" (click)="selectHero(1)"></app-hero-head-photo>
    </div>
    <app-ok (click)="selectHeroOk()"></app-ok>
    <app-no (click)="selectHeroNo()"></app-no>
</div>